@model Has.Models.Doctor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Doctor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorFName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoctorFName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorLName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoctorLName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolicID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolicID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DoctorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
